#Login1{
width:100%;
}

.styleA{
text-align: left;
vertical-align: middle;
white-space: nowrap;
width: 43px;
}
.styleB{
text-align: left;
vertical-align: middle;
white-space: nowrap;
width: 272px;
}
.style2{
height: 17px;
}

html,body{
height:120%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2NmY2ZjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmNmY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjk4OWQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #ffffff 0%, #cfcfcf 53%, #cfcfcf 100%, #2989d8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(53%,#cfcfcf), color-stop(100%,#cfcfcf), color-stop(100%,#2989d8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#cfcfcf 53%,#cfcfcf 100%,#2989d8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#cfcfcf 53%,#cfcfcf 100%,#2989d8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#cfcfcf 53%,#cfcfcf 100%,#2989d8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#cfcfcf 53%,#cfcfcf 100%,#2989d8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 ); /* IE6-8 */

}
.travelmart{
font-family:Arial;
font-weight:bold;
font-size:32px;
color:#0099CC;

}
.footer{


}

.logo-alignment{
text-align:center;
}

.img-logo{
width:50%;
}

.maintenance-warning{
font-size:25px;
color:#000000;
}


.maintenance-message-text{
font-size:18px;
color:Black;
font-family:verdana;
}

.maintenance-msg{
padding-left:3%;
padding-right:3%;
}