body { background-color: #CCCCCC; }
.panel { border: solid 1px #666666; padding: 1.5em 1em 1.5em 1em; background-color: White; }
fieldset { border-style: none; border-color: #BFBAB0; width: 540px; padding: 0; font-size: 13px; }
fieldset ol { list-style: none; padding-top: 2em; padding-bottom: 1px; margin-bottom: 1px; }
fieldset li { padding-bottom: 0.5em; }
fieldset label { width: 10em; margin-right: 0.5em; text-align: left; font-weight: bold; vertical-align: top; }
.checkboxlist label { font-weight:normal }
hr { width: 540px;  text-align: left; }
.header { font-weight: bold; font-size: 16px; color:#3333FF; }
.validation { color: Red; background-color: #FEEFB3; margin-bottom:5px; border:1px solid #F08080; width: 540px; padding: 1.5em 0 0 0 }

